.game {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-left: auto;
    margin-right: auto;
}

#gigi-sleeping {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}